<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head">
</head>

<body>

<nav th:replace="snippets.html :: name_app_navbar"></nav>

<div class="container-fluid container-home">
	<div class="row mt-5 pt-5">
		<div class="col-md-3 col-sm-6 col-home">
			<div class="card1 mx-5 pb-5">
			<a  th:href="@{/ui/brand}"><img data-toggle="tooltip" data-placement="bottom" title="Brands" class="col-img" th:src="@{/static/brand.png}"></a>
			</div>
		</div>
		<div class="col-md-3 col-sm-6 col-home">
			<div class="card1 mx-5 my-3 pb-5">
			<a th:href="@{/ui/inventory}"><img data-toggle="tooltip" data-placement="bottom" title="Inventory" class="col-img" th:src="@{/static/inventory.png}"></a>
			</div>
		</div>
		<div class="col-md-3 col-sm-6 col-home">
			<div class="card1 mx-5 pb-5">
			<a th:href="@{/ui/product}"><img data-toggle="tooltip" data-placement="bottom" title="Products" class="col-img" th:src="@{/static/product.webp}"></a>
			</div>
		</div>
		<div class="col-md-3 col-sm-6 col-home">
			<div class="card1 mx-5 pb-5">
			<a th:href="@{/ui/orders}"><img data-toggle="tooltip" data-placement="bottom" title="Orders" class="col-img" th:src="@{/static/orders.png}"></a>
			</div>
		</div>
	</div>
	<div class="row mb-5 pb-5">
		<div class="col-md-3 col-sm-6 col-home">
			<div class="card1 mx-5 pb-5">
			<a th:href="@{/ui/brandreport}"><img data-toggle="tooltip" data-placement="bottom" title="Brand report" class="col-img" th:src="@{/static/brand-report.png}"></a>
			</div>
		</div>
		<div class="col-md-3 col-sm-6 col-home">
			<div class="card1 mx-5 pb-5">
			<a th:href="@{/ui/inventoryreport}"><img data-toggle="tooltip" data-placement="bottom" title="Inventory report" class="col-img" th:src="@{/static/inventory-report.webp}"></a>
			</div>
		</div>
		<div class="col-md-3 col-sm-6 col-home">
			<div class="card1 mx-5 pb-5">
			<a th:href="@{/ui/dailysales}"><img data-toggle="tooltip" data-placement="bottom" title="Daily sales report" class="col-img" th:src="@{/static/daily-sales.png}"></a>
			</div>
		</div>
		<div class="col-md-3 col-sm-6 col-home">
			<div class="card1 mx-5 pb-5">
			<a th:href="@{/ui/salereport}"><img data-toggle="tooltip" data-placement="bottom" title="Sales report" class="col-img" th:src="@{/static/sales-report.webp}"></a>
			</div>
		</div>
	</div>
</div>


</div> <!-- Container end-->

</body>

<footer th:replace="snippets.html :: name_footer"></footer>

<script>
$(document).ready(function(){
const navbarContainer = document.getElementById('navbarContainer');
const navItems = navbarContainer.querySelectorAll('.navbar-nav > .nav-item');
navItems.forEach(item => {
item.classList.remove('active')});
const navItem = document.getElementById('home-nav');
navItem.classList.add('active');
});
</script>

</html>