<!doctype html>

<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="snippets.html :: name_head"></head>

<body>

<nav th:replace="snippets.html :: name_app_navbar"></nav>

<div class="container-fluid px-5">

    <div class="row">
        &nbsp;
    </div>

    <button class="btn btn-success"  id="create-order" role="button">Create Order</button>
    &nbsp;
    <!-- Blank Row -->
    <div class="row">
        &nbsp;
    </div>
    <div class="row">
        <!--Orders Table -->
        <div class="col-12 table-responsive">
            <table class="table text-center table-striped" id="order-table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Order ID</th>
                    <th scope="col">Order Time</th>
                    <th scope="col">Order Status</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>



<!--    create order modal ( Create Order)-->
    <div class="modal" data-backdrop="static" tabindex="-1" role="dialog" id="create-order-modal">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Create Order</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <form class="form" id="create-order-form" name="inputOrder">
                                <div class="form-row align-items-center">
                                    <div class="form-group col">
                                        <label for="inputBarcode">Barcode</label>
                                        <input type="text" class="form-control" maxlength="255" name="barcode" id="inputBarcode" placeholder="Enter Barcode" required>
                                    </div>
                                    <div class="form-group col">
                                        <label for="inputQuantity">Quantity</label>
                                        <input type="number" class="form-control" min="1" max="2147483647" step="1" pattern="[0-9]" name="quantity" id="inputQuantity" placeholder="Enter Quantity" required>
                                    </div>
                                    <div class="form-group col">
                                        <label for="inputProductSP">Selling Price</label>
                                        <input type="number" class="form-control" min="0" step="any" name="sellingPrice" id="inputProductSP" placeholder="Enter Selling Price" required>
                                    </div>
                                    <button class="btn mt-2 btn-success" id="add-product"> Add</button>
                                    &nbsp;
                                    &nbsp;
                                </div>
                            </form>
                        </div>
                    </div>
                    <span id="cartTotalSpan"></span>


                    <!-- Blank Row -->
                    <div class="row">
                        &nbsp;
                    </div>
                    <div class="row">
                        <!-- cart Table -->
                        <div class="col-12 table-responsive scroll-table" >
                                <table class="table text-center table-striped" id="create-order-table">
                                <thead class="thead-dark sticky-thead">
                                <tr>
                                    <th scope="col">Barcode</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Selling price</th>
                                    <th scope="col">Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-success" id="confirm-order">Confirm</button>
                </div>
            </div>
        </div>
    </div>

<!--cart item edit modal-->
    <div class="modal" data-backdrop="static" tabindex="-1" role="dialog" id="edit-order-modal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit cart item</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <form class="form" id="order-edit-form">
                        <div class="form-group">
                            <label for="inputBarcode">Barcode</label>
                                <input type="text" class="form-control" name="barcode" id="editBarcode" placeholder="Enter Barcode" readonly>
                        </div>
                        <div class="form-group">
                            <label for="inputQuantity">Quantity</label>
                                <input type="number" class="form-control" min="1" max="2147483647" step="1" pattern="[0-9]" name="quantity" id="editQuantity" placeholder="Enter Quantity" required>
                        </div>
                        <div class="form-group">
                            <label for="inputProductSP">Selling price</label>
                                <input type="number" class="form-control" min="0" step="any" name="sellingPrice" id="editProductSP" placeholder="Enter Selling Price" required>
                        </div>
                        <input type="hidden" name="id">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-success" id="update-order">Update</button>
                </div>
            </div>
        </div>
    </div>


<!--    Order Item Modal(view order)-->
    <div class="modal" data-backdrop="static" tabindex="-1" role="dialog" id="view-order-modal">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><span id="orderIdSpan"></span></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <form class="form" id="add-item-form" name="inputOrder">
                                <div class="form-row align-items-center">
                                    <div class="form-group col">
                                        <label for="itemBarcode">Barcode</label>
                                        <input type="text" class="form-control" maxlength="255" name="barcode" id="itemBarcode" placeholder="Enter Barcode" required>
                                    </div>
                                    <div class="form-group col">
                                        <label for="itemQuantity">Quantity</label>
                                        <input type="number" class="form-control" min="1" max="2147483647" step="1" pattern="[0-9]" name="quantity" id="itemQuantity" placeholder="Enter Quantity" required>
                                    </div>
                                    <div class="form-group col">
                                        <label for="itemSP">Selling Price</label>
                                        <input type="number" class="form-control" min="0" step="any" name="sellingPrice" id="itemSP" placeholder="Enter Selling Price" required>
                                    </div>
                                    <button class="btn mt-2 btn-success" id="add-order-item"> Add</button>
                                    &nbsp;
                                    &nbsp;
                                </div>
                            </form>
                        </div>
                    </div>
                    <span id="orderTotalSpan"></span>
                    <div class="row">
                        &nbsp;
                    </div>
                    <div class="row">
                        <!-- Table -->
                        <div class="col-12 table-responsive scroll-table-l">
                                <table class="table text-center table-striped" id="order-item-table">
                                    <thead class="thead-dark sticky-thead">
                                    <tr>
                                        <th scope="col">Barcode</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Selling price</th>
                                        <th scope="col">MRP</th>
                                        <th scope="col" id="actions">Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <!-- Table body content goes here -->
                                    </tbody>
                                </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <!-- Item Edit Modal -->
    <div class="modal" data-backdrop="static" tabindex="-1" role="dialog" id="edit-item-modal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit order item</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <form class="form" id="item-edit-form">
                        <div class="form-group">
                            <label>Barcode</label>
                            <input type="text" class="form-control" name="productBarcode" id="editBarcode2" placeholder="Enter Barcode" readonly>
                        </div>
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control" name="productName" id="editName" placeholder="Enter Product Name" readonly>
                        </div>
                        <div class="form-group">
                            <label>MRP</label>
                            <input type="text" class="form-control" name="productMrp" id="editMrp" placeholder="Enter MRP" readonly>
                        </div>
                        <input type="hidden" name="orderId">
                        <input type="hidden" name="id">
                        <div class="form-group">
                            <label>Quantity</label>
                            <input type="number" class="form-control" min="1" max="2147483647" step="1" pattern="[0-9]" name="quantity" id="quantity" placeholder="Enter Quantity" required>
                        </div>
                        <div class="form-group">
                            <label>Selling price</label>
                            <input type="number" class="form-control" min="0" step="any" name="sellingPrice" id="sellingPrice" placeholder="Enter Selling Price" required>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-success" id="update-item">Update</button>
                </div>
            </div>
        </div>
    </div>




</div> <!-- Container end-->

<footer th:replace="snippets.html :: name_footer"></footer>

<script th:src="@{/static/orders.js}"></script>

</body>

</html>


