<!doctype html>

<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="snippets.html :: name_head"></head>

<body>

<nav th:replace="snippets.html :: name_app_navbar"></nav>

<div class="container">

<!--  <h3>Order Item</h3>-->

  <!-- Blank Row -->
  <div class="row">
    &nbsp;
  </div>
  <div class="row">
    <!-- Table -->
    <div class="col-12">
      <table class="table text-center table-striped" id="order-item-table">
        <thead class="thead-dark">
        <tr>
          <th scope="col">Barcode</th>
          <th scope="col">Name</th>
          <th scope="col">Quantity</th>
          <th scope="col">Selling price</th>
          <th scope="col">Mrp</th>
          <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>


  <!-- Product Edit Modal -->
  <div class="modal" tabindex="-1" role="dialog" id="edit-item-modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Edit Item</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          </button>
        </div>
        <div class="modal-body">
          <form class="form" id="item-edit-form">
            <div class="form-group">
              <label>Barcode</label>
                <input type="text" class="form-control" name="productBarcode" id="editBarcode" placeholder="Enter Barcode" readonly>
            </div>
              <div class="form-group">
                <label>Name</label>
                  <input type="text" class="form-control" name="productName" id="editName" readonly>
              </div>
          <div class="form-group">
            <label>Mrp</label>
              <input type="text" class="form-control" name="productMrp" id="editMrp" readonly>
          </div>
            <input type="hidden" name="orderId">
            <input type="hidden" name="orderItemId">
            <input type="hidden" name="productId">
              <div class="form-group">
                <label>Quantity</label>
                  <input type="text" class="form-control" name="productQuantity" id="quantity" placeholder="Enter quantity">
              </div>
              <div class="form-group">
                <label>Selling price</label>
                  <input type="text" class="form-control" name="productSP" id="sellingPrice" placeholder="Enter selling price">
              </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-success" id="update-item">Update</button>
        </div>
      </div>
    </div>
  </div>


</div> <!-- Container end-->

<footer th:replace="snippets.html :: name_footer"></footer>

<script th:src="@{/static/getorderitems.js}"/></script>
<script th:src="@{/static/orderitem.js}"/></script>

</body>

</html>


